# Postgres
POSTGRES_DB=database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=database_password
POSTGRES_URL=postgres://database_user:database_password@localhost:5432/database_name

# PgAdmin
PGADMIN_DEFAULT_EMAIL=pg_admin_user@url.com
PGADMIN_DEFAULT_PASSWORD=pg_admin_password
